<p>Hello {{name}},</p>

<p>You just signed up for Imusify.</p>
<p>Username: {{username}}</p>
<p>Here is the link to activate your account <a href="{{domain}}{{link}}{{code}}">click here to activate.</a> </p>

<p>Thank you!</p>

